/* Container principal do sumário */
.summary-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 95%;
}

/* Estilo dos cards */
.summary-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    background-color: #2d3748;
    border: 1px solid #4a5568;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
    margin-right: 16px;
}

.summary-title {
    font-size : 1.25rem;
    font-weight: bold;
    color: #fff;
}

.summary-value {
    font-size: 1.25rem;
    color: #e2e8f0;
    margin-left: 16px;
}

