#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header-title {
  font-size: 5rem; /* Texto grande */
  font-weight: bold;
  text-align: center; /* Centraliza o texto */
  color: #ffffff; /* Branco */
}

/* Descrição abaixo do cabeçalho */
.description {
  font-size: 2rem;
  text-align: center;
  color: #e2e8f0; /* Cinza claro */
  margin-top: 24px; /* Espaçamento superior */
}
